.h-full {
	min-height: 100%;
}
.h-screen {
	min-height: 100vh;
}
.auth-form {
	margin-top: 75px;
	width: 100vw;
}
p {
	margin: 0 !important;
}
.page-chevron:first-child {
	margin-right: 0.4rem;
}
.page-chevron:last-child {
	margin-left: 0.4rem;
}
.page-item:first-child {
	margin-right: 0 !important;
}
.page-item:last-child {
	margin-left: 0 !important;
}

.survei .row {
	background-color: #fff;
}
.survei .row h4:first-letter {
	text-transform: uppercase;
}

.survei input[type="number"] {
	width: 45px;
	outline: none;
}
